<!doctype html>
<html lang="en">
<head>
    {{ wp_head }}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="author" content=""/>
    <title>{{ site.title }}</title>
    <link href="{{ site.theme.link }}/assets/dist/app.css" rel="stylesheet"/>
</head>
<body>
{% include 'partials/header.twig' %}
<main role="main" class="">
    {% block content %}
    {% endblock %}
</main>
<footer>
{% include 'partials/mobile-menu.twig' %}
</footer>
{{ wp_footer }}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="{{ site.theme.link }}/assets/dist/app.js"></script>

</body>
</html>
